.chat-message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}


.message-content {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
}

.sender-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.timestamp {
    font-size: 0.8em;
    color: #888;
}
